body
{
    height: 100vh;
    width: 100%;
    overflow: hidden !important;
}

header
{
    height: 8%;
    width: 100%;
}

article
{
    height: 92%;
    width: 100%;
}

.company_name
{
    letter-spacing: 2px;
}

/*TEXT SIZING*/

.text_sm{font-size: small;}
.text_smla{font-size: smaller;}
.text_xs{font-size: x-small;}
.text_xxs{font-size: xx-small;}
.text_lg{font-size: large;}
.text_lger{font-size: larger;}
.text_xl{font-size: x-large;}
.text_xxl{font-size: xx-large;}

/*TEXT SIZING*/


/*HEIGHT*/
.h_fit
{
    height: fit-content !important;
}

.h-10{height: 10% !important;}
.h-90{height: 90% !important;}
.h-30{height: 30% !important}
.h-70{height: 70% !important}

/*WIDTH*/
.w-20{width: 20% !important;}
.w-80{width: 80% !important}



/*TOOLS*/
.btn-nav
{
    color: #f1f1f1;
    height: 10% !important;
    font-size: 15px;
}

.pointer
{
    cursor: pointer !important;
}

.btn-nav:hover
{
    background-color: #434250;
    color: #84E2FE;
    font-weight: bolder;
    border-style: solid !important;
    border-left: 6px;
    border-left-color: #84E2FE !important;
}

.btn-nav-active
{
    background-color: #222230;
    color: #84e2fe !important;
    font-weight: bold;
    height: 10% !important;
    border-style: solid !important;
    border-left: 6px;
    border-left-color: #84E2FE !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.shadow
{
    box-shadow: 0 2px 5ps 0 rgba(1,1,1,0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.bold
{
    font-weight: bolder;
}

.bg_t80
{
    background-color: rgba(0,0,0,0.8) !important;
}

.bg_img
{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/*CARDS*/
.card-success
{
    background: #28A745 !important;
    color: #f2f2f2;
}
.card-success:hover
{
    background: #1a5a28 !important;
    color: #f2f2f2;
}

.card-primary
{
    color: #f3f3f3 !important;
    background: #007BFF;
}
.card-primary:hover
{
    color: #f3f3f3 !important;
    background: #163a61;
}

.card-dark
{
    color: #f3f3f3 !important;
    background: #343A40;
}
.card-dark:hover
{
    color: #f3f3f3 !important;
    background: #1f2326;
}

.card_hover:hover
{
    color: #f3f3f3 !important;
    background: #1f2326;
    cursor:pointer;

}
